<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>web - %date [%thread] %-5level %logger{36} - %message%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>epos-api.log</file>
		<encoder>
			<pattern>web - %date [%thread] %-5level %logger{36} - %message%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.transaction" level="WARN" />

	<!-- in order to debug some marshalling issues, this needs to be TRACE -->
	<logger name="org.springframework.web.servlet.mvc" level="WARN" />

	<!-- in order to debug eTopUp business flow -->
	<logger name="com.htc.epos.api" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>